export POSTGRES_HOST="localhost"
export POSTGRES_PORT="5432"
export POSTGRES_DATABASE="arran"
export POSTGRES_USERNAME="arran"
export POSTGRES_PASSWORD="arran"
export KAFKA_BOOTSTRAP_SERVERS="localhost:9092"
export KAFKA_GROUP_ID="arran"
export KAFKA_SESSION_TIMEOUT_MS="6000"
export KAFKA_AUTO_OFFSET_RESET="earliest"
export KAFKA_EXAMPLE_CONSUMER_TOPICS="example-topic"